@import url('https://rsms.me/inter/inter.css');

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  overscroll-behavior-y: none;
  /* background: #f5f5f5; */
  font-family: 'Inter var', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: black;
  /* padding: 60px 60px 0px 60px; */
  background: black;
  background-color: black;
  /* color: white; */
  /* color: black; */
}

a {
  color: black;
}

a {
  pointer-events: all;
  color: black;
  text-decoration: none;
}

svg {
  fill: black;
}
.fade-in-top {
  animation: fadeIn 6s;
  -webkit-animation: fadeIn 6s;
  -moz-animation: fadeIn 6s;
  -o-animation: fadeIn 6s;
  -ms-animation: fadeIn 6s;
}

.fade-in-bottom {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  50% { opacity: 0; }

  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  50% { opacity: 0; }

  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  50% { opacity: 0; }

  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  50% { opacity: 0; }

  100% { opacity: 1; }
}

/* body {
  background: #f0f0f0;
  font-family: 'Inter';
} */

a {
  color: black;
}

a {
  pointer-events: all;
  color: black;
  text-decoration: none;
}

svg {
  fill: black;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

canvas {
  opacity: 0;
  touch-action: none;
  animation: fade-in 5s ease 0.5s forwards;
}

input {
  font-family: 'Inter';
  width: 100px;
  border: none;
  background-image: none;
  background-color: transparent;
  color: transparent;
  caret-color: #848484;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-weight: 400;
}

input:focus {
  outline: none;
  box-shadow: none !important;
}

#gradient-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 14px 14px 0px 0px;
  /* --gradient-color-1: #b90e50;
  --gradient-color-2: #032e46;
  --gradient-color-3: #151525;
  --gradient-color-4: #0f3b5e; */
  --gradient-color-1: #c3e4ff; 
  --gradient-color-2: #6ec3f4; 
  --gradient-color-3: #eae2ff;  
  --gradient-color-4: #b9beff;
}

/* .text-input {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 5px;
  padding: 15px;
  font-size: 16px;
  width: 50%;
  transition: all 0.3s ease-in-out;
    animation: glow 5s infinite ease-in-out;

}

.text-input:focus {
  outline: none;
  box-shadow: 0 0 15px lightblue;
  animation: glow 5s infinite ease-in-out;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 1px lightblue;
  }
  50% {
    box-shadow: 0 0 10px skyblue;
  }
  100% {
    box-shadow: 0 0 1px lightblue;
  }
} */


@font-face {
  font-family: "customFont";
  src: url("/public/fonts/PPMori-SemiBold.otf");
}
@font-face {
  font-family: "customFont2";
  src: url("/public/fonts/PPMori-SemiBoldItalic.otf");
}
.theHeader {
  font-family: "customFont";
  font-size:60px;
  text-align: "center";
  /* opacity: 0.5; */
  /* z-index: 10; */

  /* background: linear-gradient(to left, black, transparent); */
  /* background:  radial-gradient(at center, #A8A28F 50%, transparent); */
  /* background:  linear-gradient(to bottom, #A8A28F 30%, transparent);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  
  /* color: #4F483A; */
    /* color: #E8DDD2; */
    /* color:  #A8A28F */
    color:  #53504A
    ;
}
.theHeaderInput {
  font-family: "customFont";
  font-size:55px;
  text-align: "center";
  line-height: 1.2;
  opacity: 0.5;


  /* background: linear-gradient(to left, black, transparent); */
  /* background:  radial-gradient(at center, #A8A28F 50%, transparent); */
  /* background:  linear-gradient(to bottom, #A8A28F 30%, transparent);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  
  /* color: #4F483A; */
    /* color: #E8DDD2; */
    /* color:  #A8A28F */
    color:  #53504A
    ;
}
.theInput {
  font-family: "customFont";
  font-size:45px;
  /* background: linear-gradient(to left, black, transparent); */
  /* background:  radial-gradient(at center, #A8A28F, transparent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  
  /* color: #4F483A; */
    /* color: #E8DDD2; */
      /* background: linear-gradient(to left, black, transparent);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;  */

    color:  #A8A28F;
    /* backdrop-filter: blur(10px); */
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 10px;
    /* box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1); */
    box-shadow: rgba(44, 44, 44, 0.27) 0px 0px 0.25em, rgba(88, 88, 88, 0.05) 0px 0.25em 1em;    /* padding: 15px; */
    transition: box-shadow 0.9s ease-in-out;
    /* width: 100%; */
    height: 2px;


    ;
}

.theInput:focus {
  outline: none;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.theResponse {
  /* width: 100px; */
  font-family: "customFont";
  font-size:28px;
  text-align: "center";

  /* background: linear-gradient(to left, black, transparent); */
  /* background:  radial-gradient(at center, #A8A28F 50%, transparent); */
  /* background:  linear-gradient(to bottom, #A8A28F 30%, transparent);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  
  /* color: #4F483A; */
    /* color: #E8DDD2; */
    /* color:  #A8A28F */
    color:  #53504A


    ;


}

/* .line-1{
  font-family: "customFont";
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
} */

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

.blinking-cursor {
  height: 100vh;
  font-size: 4em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.blinking-cursor:after {
  content: '';
  width: 5px;
  height: .9em;
  background-color: black;
  margin-left: 20px;
  animation-name: blinking;
  animation-duration: .7s;
  animation-direction: alternative;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes blinking {
  50%{background-color: white;}
  100%{background-color: black;}
}

.main-container {
  position: relative;
  height: 100px;
}

.main-container .scrollable-nav {
  overflow: scroll;
  height: 100%;
}

.list-item-container {
  list-style: none;
  font-size: 20px;

}

.list-item-container > .m-item:last-child{
   background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.7) 5%, #fff 100%);

}
li {
  padding-right: 30px;
}

.questionIcon {
  opacity: 0;
  animation: fadeInIcon 7s ease-in-out forwards;
  transition: all 0.2s ease-in-out;

}
.questionIcon:hover{
  transform: scale(1.1);
}

@keyframes fadeInIcon {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

.wordmark {
  opacity: 0;
  animation: fadeInWordmark 7s ease-in-out forwards;
  transition: all 0.2s ease-in-out;
  
}

.wordmark:hover{
  cursor: pointer;
}

@keyframes fadeInWordmark {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0.3;
  }
}






